/* VARIABLES CSS */
:root {
    /* Colores de fondo */
    --color-primario: #1b5e1d;
    --color-secundario-fondo: #e7ffe8;
    --color-terciario-fondo: #f7e7ce;
    --color-cuaternario-fondo: #f0f0f0;

    /* Colores de texto */
    --color-primario-texto: #1b5e1d;
    --color-secundario-texto: #e7ffe8;

    /* Tipografía */
    --tipo-fuente-principal: 'Libre Baskerville', serif;
}


/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* TIPOGRAFÍA Y ESTILOS GLOBALES */
body {
    font-family: var(--tipo-fuente-principal);
    color: var(--color-primario-texto);
    font-size: 1rem;
    line-height: 1.5;
    padding: 20px;
}

/* ENCABEZADO */
header {
    background-color: var(--color-cuaternario-fondo);
    color: var(--color-primario-texto);
    padding: 2rem;
    text-align: center;
}

header h1 {
    color: var(--color-primario-texto);
    margin-bottom: 0.5rem;
}


/* MENÚ DE NAVEGACIÓN */

nav {
    margin-top: 1.5rem;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
    flex-wrap: wrap;
}

nav a {
    color: var(--color-terciario-texto);
    text-decoration: none;
    padding: 0.6rem 1rem; /*are de enlace mas grande paa q parezca un boton*/
    border-radius: 10px; /*redonde las esquinas*/
    transition: 0.3s;
}
/*efecto cuando paso el mouse por encima*/
nav a:hover {
    background-color: var(--color-primario);
    color: var(--color-cuaternario-fondo);
}



/* CONTENIDO PRINCIPAL */
main {
    background-color: var(--color-secundario-fondo);
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
    padding: 1.5rem;
}


/* TÍTULOS */
h2 {
    margin-bottom: 1rem;
}

h3 {
    margin-bottom: 0.5rem;
}


/* IMÁGENES */
figure {
    margin: 1.5rem 0;
    text-align: center;
}

figure img {
    width: 600px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 6px solid var(--color-primario);
}


figcaption {
    margin-top: 0.5rem;
}


/* ZONAS DE LA CIUDAD -------------------------------revisar*/
section article {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--color-primario);
}


/* LISTAS */
section ul {
    padding-left: 1.5rem;
}


/* DATOS CLAVE */
dl {
    padding: 1rem;
}

dt {
    font-weight: bold;
    margin-top: 1rem;
}

dd {
    margin-left: 1rem;
}


/* INFORMACIÓN TURÍSTICA */
aside {
    padding: 1.5rem;
    margin-bottom: 2rem;
    border: 1px solid var(--color-primario);
}


/* PIE DE PÁGINA */
footer {
    background-color: var(--color-primario);
    color: var(--color-secundario-texto);
    padding: 1.5rem;
    text-align: center;
}



/* FORMULARIO DE CONTACTO */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    border: 2px solid var(--color-primario);
}

form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid var(--color-primario);
    box-sizing: border-box;
}

.fore-text {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
}

.fore-text a {
    color: var(--color-primario);
}

.btn {
    margin-top: 1.5rem;
    padding: 0.75rem 2rem;
    background-color: var(--color-primario);
    color: var(--color-secundario-texto);
    border: none;
    cursor: pointer;
}
 table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.5rem 0;
 }

 th, td {
    border: 1px solid var(--color-primario);
    padding: 0.75rem;
    text-align: left;
 }
 thead {
    background-color: var(--color-primario);    
 }
 
 tbody tr:nth-child(even) {
    background-color: var(--color-secundario-fondo);
 }